<!doctype html>

<html>
<head>
  <title>Corrector Hackathon SM</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div id="main">
        <h1>Corrector</h1>
        <form id="form-global" action="{{ url_for('root') }}" method="post">
            <textarea id="input-text" placeholder="Escriu algo..." name="input">{{ input }}</textarea>
            <input type="submit" name="submit_button" value="Corregir" />
            <textarea id="output-text" readonly placeholder="El text corregit apareixerà aqui." name="output">{{ output }}</textarea>
        </form>
    </div>

</body>
</html>
